ul {
    height: 100%;
    overflow: auto;
}
li {
    cursor: pointer;
    height: 150px;
    width: 375px;
    position: relative;
    display: inline-block;
    background-color: darkgray;
    margin: 30px;
    text-align: center;
}
li:hover {
    background-color: darkslateblue;
    border-color: brown;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
}
img {
    height: 150px;
    width: 150px;
    float: left;
}