<div class="header">
  <div class="header-image">
    <!-- <h1>
    Welcome to {{ title }}!
    </h1> -->
    <img width="300" alt="Angular Logo" src="../assets/images/headerImage.jpg">
  </div>
  <div class="pages">
    <ul>
      <li *ngFor="let page of pages" [ngClass]="{page: true, active: activeElement === page}" 
      (click)=(setActive(page))>
        {{page}}
      </li>
    </ul>
  </div>
</div>
<div class="page-content">
  <app-races *ngIf="activeElement === 'Races'"></app-races>
  <app-home *ngIf="!activeElement || activeElement === 'Home'"></app-home>
  <app-locations *ngIf="activeElement === 'Locations'"></app-locations>
  <app-contact *ngIf="activeElement === 'Contact Us'"></app-contact>
</div>
