.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    height: 100%;
    overflow: auto;
}
.race {
    cursor: pointer;
    height: 15vw;
    width: 15vw;
    position: relative;
    background-color: darkgray;
    margin: 20px;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid firebrick;
    text-align: center;
}
.race:hover {
    border-color: brown;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.59);
}