<p>Hello! this is a trial Website, for more info, please, contact us in the feild below</p>
<form [formGroup]='contactForm' (ngSubmit)="submitAll()" (input)=(checkActivity())>
    <label>
        Name:
        <input formControlName="Name" type="text" class="input">
    </label>
    <label>
        Email:
        <input formControlName="Email" type="text" class="input">
    </label>
    <label>
        Subject:
        <textarea formControlName="Subject" rows="8" class="subject input"></textarea>
    </label>
    <input type="submit" [disabled]="!active" value="Submit" class="button">

</form>