.list {
    height: 95%;
    overflow: auto;
}
app-news {
    margin-bottom: 5px;
    display: -webkit-box;
    width: 100%;    
    line-height: 2;
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 100px;
}
h1 {
    font-size: 15px;

}